## Python Basic

In [1]:
a = 5
b = 3
a + b

8

In [2]:
a * 10

50

## Python 數值運算

In [3]:
3 + 2 * 8

19

In [4]:
a = 3
b = 2
a + b

5

In [5]:
a - b

1

In [8]:
type(a)

int

In [6]:
c = 1.5
d = 2.5
c + d

4.0

In [7]:
c - d

-1.0

In [9]:
type(c)

float

In [10]:
a = '2'
type(a)

str

In [11]:
int(a)

2

In [12]:
type(int(a))

int

In [13]:
int(2)

2

In [14]:
float(2)

2.0

In [15]:
float('3.2')

3.2

In [16]:
a = 5

In [17]:
a + a

10

In [18]:
a = 10
a

10

In [19]:
a = a + a
a

20

In [20]:
price = 25.6
exchange_rate = 32.33

In [21]:
ntd_price = price * exchange_rate

In [22]:
ntd_price

827.648

## 字串

In [23]:
a = 'hello world'
type(a)

str

In [24]:
a = "hello world"
type(a)

str

In [25]:
s = 'Now I'm ready to use the single quotes inside a string!'

SyntaxError: invalid syntax (<ipython-input-25-255da4b258eb>, line 1)

In [28]:
s = "Now I'm ready to use the single quotes inside a string!"
s

"Now I'm ready to use the single quotes inside a string!"

In [29]:
'hello world'
'haha'

'haha'

In [30]:
print('Hello World')
print('Ha ha')

Hello World
Ha ha

In [31]:
print('this is the first line \n this is the second line')

this is the first line
 this is the second line

In [32]:
print('''
1 2 3
100 200 300
''')

1 2 3
100 200 300

In [33]:
print('''
1\t2\t3
100\t200\t300
''')

1	2	3
100	200	300

In [34]:
s = "Now I'm ready to use the single quotes inside a string! \
I'm ready to use the single quotes inside a string! \
I'm ready to use the single quotes inside a string!"
s

"Now I'm ready to use the single quotes inside a string! I'm ready to use the single quotes inside a string! I'm ready to use the single quotes inside a string!"

In [36]:
s = """Now I'm ready to use the single quotes inside a string! 
I'm ready to use the single quotes inside a string! 
I'm ready to use the single quotes inside a string!"""
print(s)

Now I'm ready to use the single quotes inside a string!
I'm ready to use the single quotes inside a string!
I'm ready to use the single quotes inside a string!

In [37]:
s = 'Hello'
s[0]

'H'

In [38]:
s[1]

'e'

In [39]:
len(s)

5

In [40]:
s[len(s)-1]

'o'

In [41]:
s[-1]

'o'

In [42]:
s[-2]

'l'

In [43]:
s

'Hello'

In [44]:
s[1:4]

'ell'

In [46]:
s[1:]

'ello'

In [47]:
s[:3]

'Hel'

In [48]:
s[:]

'Hello'

In [49]:
# for(i = 1; i < 4; i++)
s[1:4]

'ell'

In [50]:
# for(i = 1; i < 4; i++)
s[1:4:1]

'ell'

In [51]:
# for(i = 1; i < 4; i = i + 2)
s[1:4:2]

'el'

In [52]:
# for(i = len(s) - 1; i > 0; i = i - 1)
s[::-1]

'olleH'

In [53]:
s = '上海自來水來自海上'
s[::-1]

'上海自來水來自海上'

In [54]:
s  == s[::-1]

True

In [55]:
s = 'Hello '
s  + 'world'

'Hello world'

In [56]:
type(s)

str

In [58]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [59]:
s

'Hello '

In [60]:
s.upper()

'HELLO '

In [61]:
s.lower()

'hello '

In [62]:
s = 'Hello World'
s.split()

['Hello', 'World']

In [63]:
len(s)

11

In [64]:
help(s.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [65]:
?s.split

In [66]:
'banana'.count('a')

3