## Python Basic

In [1]:
a = 5
b = 3
a + b

8

In [2]:
a * 10

50

## Python 數值運算

In [3]:
3 + 2 * 8

19

In [4]:
a = 3
b = 2
a + b

5

In [5]:
a - b

1

In [8]:
type(a)

int

In [6]:
c = 1.5
d = 2.5
c + d

4.0

In [7]:
c - d

-1.0

In [9]:
type(c)

float

In [10]:
a = '2'
type(a)

str

In [11]:
int(a)

2

In [12]:
type(int(a))

int

In [13]:
int(2)

2

In [14]:
float(2)

2.0

In [15]:
float('3.2')

3.2

In [16]:
a = 5

In [17]:
a + a

10

In [18]:
a = 10
a

10

In [19]:
a = a + a
a

20

In [20]:
price = 25.6
exchange_rate = 32.33

In [21]:
ntd_price = price * exchange_rate

In [22]:
ntd_price

827.648

## 字串

In [23]:
a = 'hello world'
type(a)

str

In [24]:
a = "hello world"
type(a)

str

In [25]:
s = 'Now I'm ready to use the single quotes inside a string!'

SyntaxError: invalid syntax (<ipython-input-25-255da4b258eb>, line 1)

In [28]:
s = "Now I'm ready to use the single quotes inside a string!"
s

"Now I'm ready to use the single quotes inside a string!"

In [29]:
'hello world'
'haha'

'haha'

In [30]:
print('Hello World')
print('Ha ha')

Hello World
Ha ha

In [31]:
print('this is the first line \n this is the second line')

this is the first line
 this is the second line

In [32]:
print('''
1 2 3
100 200 300
''')

1 2 3
100 200 300

In [33]:
print('''
1\t2\t3
100\t200\t300
''')

1	2	3
100	200	300

In [34]:
s = "Now I'm ready to use the single quotes inside a string! \
I'm ready to use the single quotes inside a string! \
I'm ready to use the single quotes inside a string!"
s

"Now I'm ready to use the single quotes inside a string! I'm ready to use the single quotes inside a string! I'm ready to use the single quotes inside a string!"

In [36]:
s = """Now I'm ready to use the single quotes inside a string! 
I'm ready to use the single quotes inside a string! 
I'm ready to use the single quotes inside a string!"""
print(s)

Now I'm ready to use the single quotes inside a string!
I'm ready to use the single quotes inside a string!
I'm ready to use the single quotes inside a string!

In [37]:
s = 'Hello'
s[0]

'H'

In [38]:
s[1]

'e'

In [39]:
len(s)

5

In [40]:
s[len(s)-1]

'o'

In [41]:
s[-1]

'o'

In [42]:
s[-2]

'l'

In [43]:
s

'Hello'

In [44]:
s[1:4]

'ell'

In [46]:
s[1:]

'ello'

In [47]:
s[:3]

'Hel'

In [48]:
s[:]

'Hello'

In [49]:
# for(i = 1; i < 4; i++)
s[1:4]

'ell'

In [50]:
# for(i = 1; i < 4; i++)
s[1:4:1]

'ell'

In [51]:
# for(i = 1; i < 4; i = i + 2)
s[1:4:2]

'el'

In [52]:
# for(i = len(s) - 1; i > 0; i = i - 1)
s[::-1]

'olleH'

In [53]:
s = '上海自來水來自海上'
s[::-1]

'上海自來水來自海上'

In [54]:
s  == s[::-1]

True

In [55]:
s = 'Hello '
s  + 'world'

'Hello world'

In [56]:
type(s)

str

In [58]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [59]:
s

'Hello '

In [60]:
s.upper()

'HELLO '

In [61]:
s.lower()

'hello '

In [62]:
s = 'Hello World'
s.split()

['Hello', 'World']

In [63]:
len(s)

11

In [64]:
help(s.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [65]:
?s.split

In [66]:
'banana'.count('a')

3

## Python List

In [1]:
name1 = 'marry'
name2 = 'john'

In [2]:
print(['asap', 3])

['asap', 3]

In [3]:
print(list("word"))

['w', 'o', 'r', 'd']

In [4]:
print( [['list'], ['of', 'lists']] )

[['list'], ['of', 'lists']]

In [5]:
print(list(('a', 1)) )

['a', 1]

In [7]:
a = ['heterogeneous', 3]
a[1] + 5

8

In [9]:
a[0] + 5

TypeError: must be str, not int

In [10]:
a[0] + 'hello'

'heterogeneoushello'

In [11]:
a = [5,6,7,'s']

In [13]:
a[0]

5

In [14]:
a[-1]

's'

In [15]:
a[2:]

[7, 's']

In [16]:
a[:2]

[5, 6]

In [17]:
a[::-1]

['s', 7, 6, 5]

In [18]:
len(a)

4

In [19]:
a = [5,6,7,8]
a.pop()
a

[5, 6, 7]

In [20]:
a.append(2)

In [21]:
a

[5, 6, 7, 2]

In [22]:
a.sort()

In [23]:
a

[2, 5, 6, 7]

In [24]:
a.reverse()

In [25]:
a

[7, 6, 5, 2]

In [27]:
list('a')

['a']

In [28]:
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [29]:
'e' in list('hello world')

True

In [30]:
'a' in list('hello world')

False

In [31]:
a = 'marry'
b = a
b

'marry'

In [32]:
a = [1,2,3]
b= a
b

[1, 2, 3]

In [33]:
a = [1,2,3]
b= a
a[1] = 2000
b

[1, 2000, 3]

In [34]:
a = [1,2,3]
b = a.copy()
a[1] = 2000
b

[1, 2, 3]

## Dictionary

In [35]:
dic={'a':100, 'b':"yes", 'c':0.98}
dic

{'a': 100, 'b': 'yes', 'c': 0.98}

In [36]:
dic.keys()

dict_keys(['a', 'b', 'c'])

In [37]:
dic.values()

dict_values([100, 'yes', 0.98])

In [38]:
dic['a']

100

In [39]:
dic['d']

KeyError: 'd'

In [40]:
dic.get('a')

100

In [41]:
dic.get('d')

In [42]:
dic.get('d', 'default')

'default'

In [43]:
dic.get('a', 'default')

100

In [44]:
dic

{'a': 100, 'b': 'yes', 'c': 0.98}

In [45]:
dic['d'] = 'new'
dic

{'a': 100, 'b': 'yes', 'c': 0.98, 'd': 'new'}

In [46]:
dic.update({'d':'old','e':123})
dic

{'a': 100, 'b': 'yes', 'c': 0.98, 'd': 'old', 'e': 123}

In [48]:
# for (int i = 0 ; i < 10; i++){
#   System.our.println(i);
#}
for rec in dic:
    print(rec, dic.get(rec))

a 100
b yes
c 0.98
d old
e 123

In [52]:
qa = {
  '早安': '你也早安',
  '晚安': '該睡了',
  '再見': '掰掰'
}

question = input('請說出你的需求:')
print(qa.get(question, '我現在還在學習, 等我變聰明以後就會告訴你答案' ))

請說出你的需求:大大安安
我現在還在學習, 等我變聰明以後就會告訴你答案

## Tuple

In [53]:
tuple1 = (1,2,3)
tuple1

(1, 2, 3)

In [54]:
tuple2 = 1,2,3
tuple2

(1, 2, 3)

In [55]:
tuple3 = tuple([1,2,3])
tuple3

(1, 2, 3)

In [56]:
list1 = [1,2,3]

In [57]:
print(dir(list1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [58]:
print(dir(tuple1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [59]:
t = ('one', 2)

In [60]:
t

('one', 2)

In [61]:
len(t)

2

In [62]:
t[0]

'one'

In [63]:
t[-1]

2

In [64]:
a = 1
b = 2

In [65]:
a , b = 1 , 2

In [66]:
c = (1 , 2)

In [67]:
c

(1, 2)

In [68]:
d = (1,2)

In [69]:
c == d

True

## 迴圈與控制流程

In [77]:
if 5 > 3:
    print('5 is really greater than 3')
print('whatever i write, i will execute this')

5 is really greater than 3
whatever i write, i will execute this

In [79]:
for qoo in range(1,10):
    print(qoo)

1
2
3
4
5
6
7
8
9

In [81]:
#if - else
a = 9
b = 8
for i in range(1,10):
    if i == a:
        print(str(a) + ' found!')
        break
    elif i == b:
        print(str(b) + ' found')
    else:
        print(str(a) + ' was not in the list')

9 was not in the list
9 was not in the list
9 was not in the list
9 was not in the list
9 was not in the list
9 was not in the list
9 was not in the list
8 found
9 found!

In [82]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [83]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [84]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [85]:
s = 0
for i in range(1,101):
    s = s+i
s

5050

In [86]:
i = 0
s = 0

while(i < 101):
    s += i
    i +=1
    
print(s)

5050

In [87]:
i = 0
s = 0

while(i < 101):
    s += i
    
print(s)

KeyboardInterrupt:

## 函式

In [1]:
def say_hello():
    print('hello world')

In [2]:
say_hello()

hello world

In [3]:
def addNum(a,b):
    return a + b

In [4]:
addNum(3,5)

8

In [5]:
addNum('Hello', 'World')

'HelloWorld'

In [6]:
def addall(x, *args):
    res = x
    for y in args:
        res += y
    return(res)

addall(1,2,3,4,5)

15

In [7]:
def make_two_lists(**kwargs):
    keys,values = [],[]
    print(kwargs)
    
    for k,v in kwargs.items():
        keys.append(k)
        values.append(v)
    return([keys,values])

make_two_lists(david='M', Mary = 'F', John='M')

{'david': 'M', 'Mary': 'F', 'John': 'M'}

[['david', 'Mary', 'John'], ['M', 'F', 'M']]

In [10]:
dic = {'david': 'M', 'Mary': 'F', 'John': 'M'}
dic.items()

dict_items([('david', 'M'), ('Mary', 'F'), ('John', 'M')])

In [ ]:
for k,v in dic.items():
    print(k, v)

In [11]:
qa = {
  '早安': '你也早安',
  '早上好': '你也早安',
  '晚安': '該睡了',
  '再見': '掰掰'
}

In [12]:
x = 25

def printer():
    x = 50
    return(x)

print(x)

print(printer())

25
50

In [13]:
def square(x):
    return x ** 2

square(3)

9

In [14]:
square = lambda x: x ** 2

In [18]:
f = lambda x:x**2 # x is local

name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy' # Enclosing function locals
    def hello():
        print('Hello '+name )
    hello()

In [19]:
greet()

Hello Sammy

In [20]:
print(name) # Global

This is a global name

In [21]:
len # Built-in function

In [22]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x )
    
func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

In [23]:
x = 50

def func():
    global x
    print('This function is now using the global x!' )
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x )
    print('Before calling func(), x is: ', x)
    
func()
print('Value of x (outside of func()) is: ', x )

This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Before calling func(), x is:  2
Value of x (outside of func()) is:  2

## 物件

In [24]:
a = 1

In [25]:
id(a)

1680305216

In [26]:
type(a)

int

In [27]:
a

1

In [28]:
print(type(1))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [29]:
a = 1
b = 1

In [30]:
id(a)

1680305216

In [31]:
id(b)

1680305216

In [32]:
a = [1,2,3]
b = [1,2,3]
print(id(a), id(b))

89687944 89688072

In [33]:
a = 1
b = 1
print(id(a), id(b))

1680305216 1680305216

In [34]:
class Sample(object):
    pass

x = Sample() # new instance
print(type(x))

<class '__main__.Sample'>

In [35]:
class Dog(object):
    def __init__(self,breed):
        self.breed = breed

sam   = Dog(breed='Lab')

frank = Dog(breed='Huskie')

sam.breed
frank.breed

'Huskie'

In [36]:
class Dog(object):
    species = 'mammal' # 類別屬性
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name
        
sam = Dog('Lab','Sam')
sam.name

'Sam'

In [37]:
sam.species

'mammal'

In [38]:
Dog.species # 類別屬性是公開的

'mammal'

In [39]:
class Circle(object):
    pi = 3.14
    def __init__(self, radius=1):
        self.radius = radius
        
    def area(self):
        return self.radius * self.radius * Circle.pi
    
    def setRadius(self, radius):
        self.radius = radius
        
    def getRadius(self):
        return self.radius

In [40]:
c = Circle()
c.area()

3.14

In [41]:
c.setRadius(2)

In [42]:
c.area()

12.56